In [1]:
!cd ../
!ls data/titanic

ls: data/titanic: No such file or directory

In [2]:
import pandas as pd
df_train = pd.read_csv("../data/titanic/train.csv")
df_train.head(5)

df_test = pd.read_csv("../data/titanic/test.csv")
df_test.head(5)

df_sub = pd.read_csv("../data/titanic/gender_submission.csv")
df_sub.head(5)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1